!.gitignore
__pycache__/
.cloud/
.storage/
tts/
homebridge/
custom_components/
home-assistant.log*
home-assistant_v2.db
home-assistant_v2.db*
secrets.yaml
airsonos.xml
known_devices.yaml
entity_registry.yaml
harmony_12047253.conf
rtsp2webrtc_v5_amd64
secrets.yaml