@font-face {
	font-family: sf display;
	font-weight: 900;
	src: url(/local/fonts/sf-ui-display-black.woff)
}

@font-face {
	font-family: sf display;
	font-weight: 700;
	src: url(/local/fonts/sf-ui-display-bold.woff)
}

@font-face {
	font-family: sf display;
	font-weight: 800;
	src: url(/local/fonts/sf-ui-display-heavy.woff)
}

@font-face {
	font-family: sf display;
	font-weight: 200;
	src: url(/local/fonts/sf-ui-display-light.woff)
}

@font-face {
	font-family: sf display;
	font-weight: 500;
	src: url(/local/fonts/sf-ui-display-medium.woff)
}
@font-face {
	font-family: sf display;
	font-weight: 600;
	src: url(/local/fonts/sf-ui-display-semibold.woff)
}

@font-face {
	font-family: sf display;
	font-weight: 300;
	src: url(/local/fonts/sf-ui-display-thin.woff)
}

@font-face {
	font-family: sf display;
	font-weight: 100;
	src: url(/local/fonts/sf-ui-display-ultralight.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 700;
	src: url(/local/fonts/SFUIText-Bold.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 700;
	font-style: italic;
	src: url(/local/fonts/SFUIText-BoldItalic.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 800;
	src: url(/local/fonts/SFUIText-Heavy.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 800;
	font-style: italic;
	src: url(/local/fonts/SFUIText-HeavyItalic.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 200;
	src: url(/local/fonts/SFUIText-Light.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 200;
	font-style: italic;
	src: url(/local/fonts/SFUIText-LightItalic.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 500;
	src: url(/local/fonts/SFUIText-Medium.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 500;
	font-style: italic;
	src: url(/local/fonts/SFUIText-MediumItalic.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 400;
	src: url(/local/fonts/SFUIText-Regular.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 400;
	font-style: italic;
	src: url(/local/fonts/SFUIText-RegularItalic.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 600;
	src: url(/local/fonts/SFUIText-Semibold.woff)
}

@font-face {
	font-family: sf text;
	font-weight: 600;
	font-style: italic;
	src: url(/local/fonts/SFUIText-SemiboldItalic.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 700;
	src: url(/local/fonts/SFMonoBold.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 700;
	font-style: italic;
	src: url(/local/fonts/SFMonoBoldItalic.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 800;
	src: url(/local/fonts/SFMonoHeavy.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 800;
	font-style: italic;
	src: url(/local/fonts/SFMonoHeavyItalic.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 200;
	src: url(/local/fonts/SFMonoLight.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 200;
	font-style: italic;
	src: url(/local/fonts/SFMonoLightItalic.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 500;
	src: url(/local/fonts/SFMonoMedium.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 500;
	font-style: italic;
	src: url(/local/fonts/SFMonoMediumItalic.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 400;
	src: url(/local/fonts/SFMonoRegular.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 400;
	font-style: italic;
	src: url(/local/fonts/SFMonoRegularItalic.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 600;
	src: url(/local/fonts/SFMonoSemibold.woff)
}

@font-face {
	font-family: sf mono;
	font-weight: 600;
	font-style: italic;
	src: url(/local/fonts/SFMonoSemiboldItalic.woff)
}